In [1]:
import pandas as pd

In [25]:
# first make it a list and assign it to a variable/aka object
cat1 = ['Grumpy Cat', 'Cat', 2012]

#then convert it to a series 
ser = pd.Series(cat1)

#now add the labels
cat_index = ['name', 'species', 'YOB']

#now we assign our cat_index (which is currently a list) to the series we have already created 
#it has an automatic index. So we are assigning 
ser.index = cat_index

type(ser)

pandas.core.series.Series

In [7]:
display(ser)

name       Grumpy Cat
species           Cat
YOB              2012
dtype: object

In [26]:
print(ser)

name       Grumpy Cat
species           Cat
YOB              2012
dtype: object

Panda Data Frame

In [12]:
#create a DataFrame from a list 
name = ['Grumpy Cat', 'Garfi the Angry Cat', 'Colonel Meow']
species = ['cat', 'cat', 'cat']
YOB = [2004, 2012, 2011]

#now combine the lists into a dictionary 
cat_dict = {'name': name, 
            'species': species, 
            'YOB': YOB}
listofcats = pd.DataFrame(cat_dict)
display(listofcats)

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [13]:
listofcats

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [17]:
#show a single column 
listofcats["name"]

0             Grumpy Cat
1    Garfi the Angry Cat
2           Colonel Meow
Name: name, dtype: object

In [19]:
#show several columns 
listofcats[["name", "YOB"]]

                  name   YOB
0           Grumpy Cat  2004
1  Garfi the Angry Cat  2012
2         Colonel Meow  2011

In [28]:
#hide the index. its still there, its just hidden
#listofcats_1 = listofcats.style.hide(axis='index')
#display(listofcats_1)

In [32]:
#once i hide an object in a dataframe in pandas the variable type is changed from variable(DF) to variable(styler) and wouldnt let me hide more in a new code line.
#listofcats_1.style.hide()

AttributeError: 'Template' object has no attribute 'hide'

In [38]:
listofcats.style.hide([axis='index'], [axis=1, subset=("name")])

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2058846570.py, line 1)